* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(30, 29, 29);
}


.task_container {
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    margin: 40px 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.task_container h1 {
    margin-bottom: 30px;
}

form {
    background-color: red;
    display: flex;
}

form input {
    width: 100%;
}

form input,
button {
    padding: 10px;
    font-size: 18px;
    border: 0;
    outline: none;
}

form button {
    background-color: aquamarine;
    font-weight: bold;
}

form button:hover {
    background-color: rgb(15, 97, 97);
    color: white;
    transition: 0.2s linear;
    cursor: pointer;
}

.tasks {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: black;
    box-shadow: 3px 3px 10px gray;
    margin-bottom: 20px;
}

.tasks button {
    background-color: transparent;
}

.tasks input[type="text"] {
    width: 75%;
    padding: 8px 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}

.tasks input[type="checkbox"] {
    width: 40px;
    height: 40px;
    border: 0;
    outline: none;
}

.completed {
    text-decoration: line-through;
    color: blue;
}
.removeBtn,.updateBtn{
    font-size: 30px;
}